
body {
  font-family: montserrat, arial, verdana;
}
html,body{
}
.box-shadow{
  margin-top: 15px;
  padding: 15px 0;
  border: 1px solid #ccc;
  background-color: #fff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}
/*===========| Barra azul en titutlos |=============*/
.box-shadow > .box-titles,
.modal-header > .box-titles{
  margin-top: -15px;
  padding: 15px 0;
  text-align: center;
  font-size: 17px;
}

.modal-header > .box-titles{
  margin: -15px;
  padding-right: 15px;
}
.box-titles{
  color: #eee;
  margin-bottom: 20px;
  background: rgba(30,60,114,1);
  background: -moz-linear-gradient(-45deg, rgba(30,60,114,1) 0%, rgba(30,60,114,1) 15%, rgba(37,72,127,1) 45%, rgba(30,60,114,1) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(30,60,114,1)), color-stop(15%, rgba(30,60,114,1)), color-stop(52%, rgba(37,72,127,1)), color-stop(100%, rgba(30,60,114,1)));
  background: -webkit-linear-gradient(-45deg, rgba(30,60,114,1) 0%, rgba(30,60,114,1) 15%, rgba(37,72,127,1) 45%, rgba(30,60,114,1) 100%);
  background: -o-linear-gradient(-45deg, rgba(30,60,114,1) 0%, rgba(30,60,114,1) 15%, rgba(37,72,127,1) 45%, rgba(30,60,114,1) 100%);
  background: -ms-linear-gradient(-45deg, rgba(30,60,114,1) 0%, rgba(30,60,114,1) 15%, rgba(37,72,127,1) 45%, rgba(30,60,114,1) 100%);
  background: linear-gradient(135deg, rgba(30,60,114,1) 0%, rgba(30,60,114,1) 15%, rgba(37,72,127,1) 45%, rgba(30,60,114,1) 100%);
}

.box-detalles{
  padding: 0 20px;
}

.sub-titles{
  color: #990F0F;
  font-weight: 600;
}


/* Pegar filas a los bordes .data-table */
.data-table th,
.table th,
.table-bordered th{
  text-align: center;
}
.dataTables_wrapper .row:first-child,
.dataTables_wrapper .row:last-child{
  margin: 0;
}
.hide{
  display: none;
}

/*==============| Table container |=================*/
.table-container .table{
  margin: 0;
  padding: 0;
}
.table-container .form-group{
  margin: 0;
}
/*============================================*/
.table-container > .box-titles{
  margin:0;
  padding: 5px 0;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  text-transform: uppercase;
}

/*====================| Botones |===========================*/

.btn-poison {
  color: #fff;
  background-color: #605CA8;
  border-color: #555299;
}
.btn-poison:focus,
.btn-poison.focus {
  color: #fff;
  background-color: #4B4982;
  border-color: #3D3B68;
}
.btn-poison:hover {
  color: #fff;
  background-color: #4B4982;
  border-color: #3D3B68;
}
.btn-poison:active,
.btn-poison.active,
.open > .dropdown-toggle.btn-poison {
  color: #fff;
  background-color: #4B4982;
  border-color: #3D3B68;
}
.btn-poison:active:hover,
.btn-poison.active:hover,
.open > .dropdown-toggle.btn-poison:hover,
.btn-poison:active:focus,
.btn-poison.active:focus,
.open > .dropdown-toggle.btn-poison:focus,
.btn-poison:active.focus,
.btn-poison.active.focus,
.open > .dropdown-toggle.btn-poison.focus {
  color: #fff;
  background-color: #4B4982;
  border-color: #3D3B68;
}
.btn-poison:active,
.btn-poison.active,
.open > .dropdown-toggle.btn-poison {
  background-image: none;
}
.btn-poison.disabled:hover,
.btn-poison[disabled]:hover,
fieldset[disabled] .btn-poison:hover,
.btn-poison.disabled:focus,
.btn-poison[disabled]:focus,
fieldset[disabled] .btn-poison:focus,
.btn-poison.disabled.focus,
.btn-poison[disabled].focus,
fieldset[disabled] .btn-poison.focus {
  background-color: #8C16A6;
  border-color: #6E0984;
}

.perfil{
  position: relative;
  background: #fff;
  border: 1px solid #f4f4f4;
  padding: 20px;
  margin: 10px 25px;
}
/*==============================|| Categorias ||==========================================*/
.categoria-list{
  list-style: none;
  padding:5px;
}
.categoria-list > li{
  position: relative;
  margin: 5px 0;
  padding: 7px;
  background-color: #E9E9E9;
  border-radius: 2px;
}
.categoria-list > li > button{
  float: right;
  color: #909090;
  background-color: transparent;
  border-color: transparent;
  border: 1px solid transparent;
}
.categoria-list > li > button:hover{
  color: #fff;
  background-color: red;
}
.cerrar {
  background: #606061;
  color: #FFFFFF;
  line-height: 27px;
  position: absolute;
  right: 4px;
  text-align: center;
  top: 1px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 2px;
}
.cerrar:hover {
  text-decoration: none;
  background: #FAAC58;
  color:#222;
}
/*===================================================================================================*/
input[type="file"]{
  border: none !important;
  height: auto !important;
}

.prod-box{
  position: relative;
  display: block;
  height: 90px;
  background: #fff;
  width: 100%;
  box-shadow: 1px 1px 3px rgba(0,0,0,.3);
  border-radius: 2px;
  margin-bottom: 15px;
  overflow: hidden;
}

.prod-img{
  border-top-left-radius: 2px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 2px;
  padding: 0 !important;
}
.prod-img>img{
  height: 90px;
  margin: 0 auto;
}

.prod-content{
  position: relative;
  float: left;
  padding: 0 0 0 10px;
}

.prod-info-text{
  position: relative;
  float: left;
  width: 90%;
}

.prod-opc{
  position: absolute;
  right: 0;
  width: 10%;
  height: 90px;
  text-align: center;
}

.prod-title{
  display: block;
  font-weight: bold;
  font-size: 18px;
}

.prod-extras{
  display: block;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  color: #989898;
}

.prod-link{
  padding: 10px;
  display: table;
  font-size: 18px;
  color: white;
  font-family:'Bebas Neue';
  background-color: #777;
  width: 100%;
  height: 100%;
  box-sizing:border-box;
  -moz-box-sizing:border-box;
}
.prod-link > i{
  display:table-cell;
  vertical-align:middle;
}

@media (max-width: 768px) {
  .prod-info-text{
    width: 80%;
  }
  .prod-opc{
    width: 20%;
  }
  .prod-title{
    font-size: 12px !important;
  }
}

/*Glow effec*/
.glow{
  -webkit-transition: box-shadow .5s linear;
  -moz-transition: box-shadow .5s linear;
  -ms-transition: box-shadow .5s linear;
  -o-transition: box-shadow .5s linear;
  transition: box-shadow .5s linear;
}
.glow{
  box-shadow: 0 0 4px 2px #367FA9;
}


/* Contenedor de imagen*/
.imageUploadWidget {
  background-color: #fff;
  border: 1px solid #ddd;
  display: block;
  height: 170px;
  width: 100%;
}
.imageUploadWidget .imageArea {
  height: 125px;
  line-height: 125px;
  text-align: center;
  vertical-align: middle;
}
.imageUploadWidget .imageArea img {
  max-height: 115px;
  max-width: 160px;
  vertical-align: middle;
  display: inline-block;
}
.imageUploadWidget .imageArea .spinner-image{
  display: none;
  height: 50px;
  width: 50px;
}
.imageUploadWidget .btnArea {
  background-color: #ddd;
  font-size: 12px;
  height: 44px;
  line-height: 46px;
  overflow: hidden;
  vertical-align: middle;
}
.imageUploadWidget.has-error,
.has-error .imageUploadWidget{
  border: 1px solid #dd4b39 !important;
}
.imageUploadWidget.has-error .btnArea,
.has-error .imageUploadWidget .btnArea{
  background-color: #dd4b39 !important;
}
/*======================*/

/*=================================*/
.box-product{
  margin: 10px 0 5px 0;
  padding: 10px 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
td.success.item-active{
  box-shadow: 0px 0px 1px 1px #449d44;
}
#tbody-item .item-list td{
  cursor: pointer;
}
#tbody-item .item-list td:hover{
  background: #fcf8e3;
  box-shadow: 0px 0px 1px 1px #f39c12;
}
#tbody-item td,
#tbody-list td{
  text-align: center !important;
}
/*=================================*/

/*==================|| QUOTATION PRODUCTS LIST ||===============================*/
.quotation-list .box{
  margin-bottom:5px;
}
.quotation-list .box-header{
  padding:5px;
}
.quotation-list .btn.btn-sm{
  padding: 0 5px;
}
.quotation-list .box-body{
  padding:2px;
}
/**/

.scrolltop a{
  display:none;
  background-color: rgba(0,0,0,0.5);
  border-radius: 2px;
  bottom: 2em;
  display: none;
  font-size: 12px;
  padding: 0.5em 1em;
  position: fixed;
  right: 2em;
  text-decoration: none;
  transition: background 0.5s ease-in 0s;
  z-index: 200;
}
.scrolltop a,
.scrolltop a:hover,
.scrolltop a:focus{
  color: #fff;
}

.box.box-poison{
  border-top-color: #524E8F;
}

.hide{
  display: none;
}
/*Eliminar las flechas en input type number*/
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
input[type="number"]{
    -moz-appearance:textfield !important; /*Hacer que parezca un campo de texto en firefox*/
}

/*Eliminar la validacion de campos por defecto en navegadores*/
:invalid {
  box-shadow: none;
}

:-moz-submit-invalid {
  box-shadow: none;
}

:-moz-ui-invalid {
  box-shadow:none;
}